# Node dependencies
/node_modules
/.pnpm-store

# Build output
/out
/static/*.html

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# IDE/project settings
.vscode
